<div class="w-full px-[75px]">

    <h2 class="text-[16pt] text-center mb-8 bg-[rgb(204,204,204)] py-2">Verfügbare Bilder</h2>

    <!-- Filter- und Sortierzeile -->
    <div class="flex flex-wrap items-center gap-5 mb-6" style="gap:20px">
        <!-- Filtern -->
        <div class="flex items-center flex-1 min-w-[260px]">
            <label for="filterInput" class="mr-2">Filtern:</label>
            <mat-form-field appearance="outline" class="w-full">
                <input id="filterInput" matInput (keyup)="applyFilter($event)" placeholder="Filtern..." />
            </mat-form-field>
        </div>
        <!-- Sortieren -->
        <div class="flex items-center flex-1 min-w-[260px]">
            <label for="sortSelect" class="mr-2">Sortieren:</label>
            <mat-form-field appearance="outline" class="w-full">
                <mat-select id="sortSelect" (selectionChange)="sortProducts($event.value)">
                    <mat-option value="priceLowHigh">Preis aufsteigend</mat-option>
                    <mat-option value="priceHighLow">Preis absteigend</mat-option>
                    <mat-option value="nameHighLow">Name aufsteigend</mat-option>
                    <mat-option value="nameLowHigh">Name absteigend</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="grid grid-cols-[repeat(auto-fill,minmax(250px,1fr))] gap-4">

        @for (product of filteredProducts; track product.id) {
        <mat-card class="product-card mat-elevation-z0" (click)="addToCart(product)">
            <img class="product-image" [src]="product.image_url" alt="{{ product.name }}" title="{{ product.name }}" />
            <mat-card-content class="product-info mat-elevation-z0">
                <mat-card-title class="product-name">{{ product.name }}</mat-card-title>
                <mat-card-subtitle class="product-price">{{ product.price | currency: '€ '}}</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
        }
    </div>
</div>