<header class="sticky top-0 z-50 bg-[rgb(244,244,244)]">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <a href="/products" matButton="elevated" class="toolbar-link">Produkte</a>
            <a href="/cart" matButton="elevated" class="toolbar-link toolbar-cart">Warenkorb</a>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="w-full px-[75px] text-center py-8">
        <h1 class="text-4xl sm:text-5xl font-extrabold tracking-tight my-6">Wunderbare Tierbilder</h1>
        <h3 class="mt-6 mb-8 text-xl sm:text-2xl text-gray-700">Machen Sie ihr Zuhause zu einem wunderwollen Ort mit unseren schönen und einzigartigen Bildern</h3>
    </div>
</header>

<router-outlet></router-outlet>

