:host {
  display: block;
}

mat-toolbar-row {
  display: flex;
  gap: 16px;
  align-items: center;
}

.toolbar-link {
  font-size: 14pt;
}

.toolbar-cart {
  margin-left: auto;
}

.toolbar-links {
  display: flex;
  gap: 16px;
  align-items: center;
}

.toolbar-links a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

.toolbar-links a:hover {
  text-decoration: underline;
}
